@use '../breakpoints' as *;

:root{
    --menuMobileHeight: 72px;
    --menuHeight: 105px;
}

.toolbar-oriented .toolbar-bar {
    z-index: 1002;
}

body {
    padding-top: calc(var(--menuHeight) + var(--drupal-displace-offset-top, 0px)) !important;
    // transition: padding-top ease-in-out .25s;

    &.scroll-down {
        // padding-top: 0 !important;
    }

    @include breakpoint-down-lg {
        padding-top: calc(var(--menuMobileHeight) + var(--drupal-displace-offset-top, 0px)) !important;
    }
}

header[role="banner"] {
    display: flex;
    align-items: center;
    position: fixed;
    top: var(--drupal-displace-offset-top, 0);
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    transition: top ease-in-out .25s;

    .button-menu-mobile {
        display: none;
        height: 72px;
        width: 72px;
        background-color: var(--n-primary);
        color: #fff;
        border: 0;
        font-size: 1.4rem;

        @include breakpoint-down-lg {
            display: block;
        }
    }
}

.at-top,
.scroll-up {
    top: var(--drupal-displace-offset-top, 0);
}

.scroll-down {
    header[role="banner"] {
        top: calc(-1 * (var(--menuHeight) + var(--drupal-displace-offset-top, 0px)));

        @include breakpoint-down-lg {
            top: calc(-1 * (var(--menuMobileHeight) + var(--drupal-displace-offset-top, 0px)));
        }
    }
}