:root {
    --n-primary: #00127A;
    --n-secondary: #FFBB2E;

    --n-danger: #FF0000;

    --n-utility-1: #F2ECE4;
    --n-utility-2: #D9DBEB;
    --n-utility-3: #D9DBEB4D;
    --n-utility-4: #5C5C5C;
    --n-utility-5: #BDBDBD;
}