{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,  
  ]
%}
{% if content %}
  <button class="button-menu-mobile" 
      aria-label="Menu" 
      aria-expanded="false">
    <i class="icon-menu" aria-hidden="true"></i>
  </button>
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
{% endif %}