@use '../breakpoints' as *;

.login-layout {
    display: flex;
    width: 100%;
    height: 100vh;

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: var(--n-utility-2);
        padding: 92px 120px;

        @include breakpoint-down-lg {
            width: 100%;
            padding: 50px 22px;
        }

        .user-login-form {
            h2 {
                text-align: center;
                margin-bottom: 64px;
                font-size: 35px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
            }

            .js-form-item {
                display: flex;
                flex-direction: column;

                input {
                    padding: 12px;
                    border: 1px #BDBDBD solid;
                    outline: none;
                    padding-right: 40px;
                }
            }

            a {
                color: #212529;
                text-decoration: none;
            }

            input[type="submit"] {
                background-color: var(--n-primary);
                width: 178px;
                padding: 8px 24px;
                border-radius: 90px;
                color: white;
                font-size: 15px;
                font-weight: 500;
                line-height: 40px;
                text-decoration: none;
                transition: all 0.3s;
                border: none;
                margin-top: 40px;
            }

            input[type="submit"]:hover {
                background-color: var(--n-secondary);
                color: black;
            }

            .form-actions {
                text-align: center;
            }

            .password-container {
                position: relative;

                .user-login {
                    &__forgot {
                        position: absolute;
                        top: 0;
                        right: 0;

                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .password-with-eye {
            position: relative;
        }

        .password-toggle-wrapper {
            position: absolute;
            top: 38px;
            right: 10px;
            width: 24px;
            height: 24px;

            a {
                position: relative;
                color: transparent;

                &[aria-label="Show password"] {
                    &::after {
                        content: "\e906";
                    }
                }

                &[aria-label="Hide password"] {
                    &::after {
                        content: "\e907";
                    }
                }

                &::after {
                    font-family: 'icomoon';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #212529;
                    line-height: 1;
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__right {
        width: 50%;
        height: 100vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        @include breakpoint-down-lg {
            display: none;
        }
    }
}

body:has(.login-layout) {
    padding-top: 0 !important;

    header[role=banner],
    .block-footer__container,
    .paragraph--type--block-slideshow-stakeholders-collections {
        display: none;
    }
}