<a class="collections-item d-flex" href="{{ content.field_link.value }}">
  <div class="collections-image ratio ratio-1x1">
    {{ content.field_image }}
  </div>
  <div class="collections-text ratio ratio-1x1">
    <div class="d-flex flex-column align-items-center justify-content-center text-center">
      <span class="collections-title">{{ content.field_title }}</span>
      <span class="collections-link-label">{{ content.field_link }}</span>
    </div>
  </div>
</a>
