{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  {% block content %}
    <div{{ attributes.addClass(classes) }}>
      <div id="qna-gmap" style="width: 100%; height: 450px;"></div>
    </div>
    {{ attach_library('qna_theme/gmap') }}
  {% endblock %}
{% endblock paragraph %}
