.user-password {
    &__content {
        flex: 1;
    }

    .region-content {
        padding: 30px;
        min-height: calc(100vh - (265px + 105px) );
    }

    .js-form-item {
        display: flex;
        flex-direction: column;
    }

    form {
        max-width: 500px;
        width: calc(100vw - 60px);
        margin: auto;
    }
    
    input {
        font-size: 15px;
        padding: 12px;
        border: 1px solid var(--n-utility-5);

        &[type="submit"] {
            background-color: var(--n-primary);
            border-radius: 90px;
            padding: 13px 25px;
            color: white;
            font-weight: 700;
            border: 0;
        }
    }
}