@use '../breakpoints' as *;

.view-filters {
    padding: 41px 106px;
    background-color: var(--n-utility-4);
    background-image: url('../images/n_blanc_2.png');
    background-repeat: no-repeat;
    background-position: 45% 65%;

    @include breakpoint-down-lg {
        padding: 0px 20px 10px;
    }

    .form-item-field-country-target-id {
        width: 100%;

        label {
            color: white;
            margin-bottom: 5px;
        }

        select {
            border-radius: 0;
            width: 30%;

            @include breakpoint-down-lg {
                width: 100%;
            }
        }
    }
}

.news-list {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__block {
        .block-header {
            &__text {
                padding-bottom: 77px;

                @include breakpoint-down-lg {
                    padding-bottom: 0;
                }
            }
        }
    }

    &__container {
        display: flex;
        border-right: solid var(--n-secondary) 100px;

        @include breakpoint-down-lg {
            border: none;
        }

        .motif {
            @include breakpoint-down-lg {
                display: none;
            }
        }

        &__items {
            flex: 1;
        }

        .view-content {
            .views-row:has(.views-row__block-item--highlight) {
                padding: 50px 104px 32px;
                margin-bottom: 50px;
                margin-top: 0;
                background-color: var(--n-utility-2);

                @include breakpoint-down-lg {
                    padding: 20px;
                }

                .views-row__block-date-flag {
                    margin-top: 20px;
                }

                .views-row__photo-container {
                    max-width: 100%;
                    height: 50%;

                    // @include breakpoint-down-lg {
                    //     width: 30%;
                    //     height: none;
                    // }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .views-row__block-item {
                    flex-direction: column;
                }
            }

            .views-row {
                padding: 0px 104px 0px;
                margin-top: 40px;

                @include breakpoint-down-lg {
                    padding: 0px 20px 0px;
                }

                &__photo-container {
                    max-width: 400px;
                    width: 100%;
                    height: 250px;

                    @include breakpoint-down-lg {
                        width: 100%;
                        height: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__text-container {
                    flex: 1;
                }

                &__block {
                    &-item {
                        display: flex;
                        gap: 18px;
                        align-items: start;

                        @include breakpoint-down-lg {
                            flex-direction: column;
                        }
                    }
                }

                &__block-date-flag {
                    @include breakpoint-down-lg {
                        // margin-top: 20px;
                    }
                }

                &__flag-container {
                    max-width: 24px;
                    width: 100%;
                    height: 24px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h3 {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    margin-bottom: 14px;
                }

                p {
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                    margin-bottom: 0;
                }

                a {
                    color: black;
                    text-decoration: none;
                    text-transform: none;
                }

                a:hover {
                    i {
                        margin-left: 20px;
                    }
                }

                i {
                    margin-left: 10px;
                    transition: all 0.3s;
                }
            }
        }
    }
}