.modal {
    --bs-modal-padding: 0 !important;

    &-content {
        border: 5px white solid;
        border-radius: 10px;

        iframe {
            border-radius: 7px;
        }
    }

    &-close {
        position: absolute;
        top: 0;
        right: -45px;
        padding: 8px;
        font-size: 18px;
        color: black;
        background-color: #D9DBEB4D;
        border-radius: 100%;
        cursor: pointer;
    }
}